@font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: 600;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Titillium"),
        /* Если не получилось, загрузит woff2 */
        url("fonts/TitilliumWeb-Bold.ttf") format("ttf")
}


@keyframes AirPlaneFly {
    0% {
        top: -100px;
        left: -100px;
    }

    100% {
        top: 30px;
        left: 30px;
    }
}

@keyframes TitleAppear {
    0% {
        margin-bottom: -100vh;
    }

    100% {
        margin-bottom: 0px;
    }
}

@keyframes FromBottom {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FromRight {
    0% {
        transform: translateX(1000px);
    }
    100% {
       transform: translateX(0px);
    }
}

.visualy-hidden {
  transform: scale(0);
}

.main__aboutImgAppear {
    animation-name: FromLeft;
    animation-duration: 3s;
}

.main__aboutTextAppear {
    animation-name: FromRight;
    animation-duration: 3s;
}

.main__botiqueAppear {
  animation-name: FromBottom;
  animation-duration: 1000;
}

@media (max-width: 400px) {
    .header {
        background-image: url("../assets/FullSizeRender.GIF");
        background-size: cover;
        background-position: center;
    }


    .header__background {
        display: none;
    }


    .paralax-layer {
        height: 800px;
    }

    .header__title {
        font-size: 25px;
    }

  

    .header__newHref {
        font-size: 18px;
    }

    .main__about {
        flex-direction: column-reverse;
        /* overflow: hidden; */
        gap: 40px;
    }

    .main__about__text {
        width: 100%;
        font-size: 16px;
    }

    .main__about__go-btn {
        display: none;
    }

    .main__about__img-container {
        align-self: center;
    }

    .main__about__img {
        width: 270px;
        align-self: center;
        height: 300px;
    }

    .popup-error {
        font-size: 14px;
        width: 150px;
        z-index: 4;
        left: -55px;
        top: -100px;
    }

    .popup-error span::after {
        content: "...";
        color: white;
        font-size: 40px;
        position: absolute;
        right: -37px;
        bottom: -29px;
        transform: rotate(45deg);
      }

      .main__homes {
        gap: 250px;
      }

      .main__home .uk-slider-items {
        width: 450px;
      }

      .main__home__text {
        width: 320px;
        color: white;
      }

      .word span {
        font-size: 30px;
      }

      .main__homes__title__text {
        font-size: 18px;
      }
    
    
}
@media (max-width: 850px) and (min-width: 401px) {

      .header {
        background-image: url("../assets/FullSizeRender.GIF");
        background-size: cover;
        background-position: center;
    }


    .header__background {
        display: none;
    }


    .paralax-layer {
        height: 800px;
    }

    .header__title {
        font-size: 30px;
    }

  

    .header__newHref {
        font-size: 18px;
    }

    .main__about {
        flex-direction: column-reverse;
        /* overflow: hidden; */
        gap: 40px;
    }

    .main__about__text {
        width: 100%;
        font-size: 16px;
    }

    .main__about__go-btn {
        display: none;
    }

    .main__about__img-container {
        align-self: center;
    }

    .main__about__img {
        width: 270px;
        align-self: center;
        height: 300px;
    }

    .popup-error {
        font-size: 14px;
        width: 150px;
        z-index: 4;
        left: -55px;
        top: -100px;
    }

    .popup-error span::after {
        content: "...";
        color: white;
        font-size: 40px;
        position: absolute;
        right: -37px;
        bottom: -29px;
        transform: rotate(45deg);
      }

      .main__homes {
        gap: 250px;
      }

      .main__home .uk-slider-items {
        width: 500px;
        height: 600px;
      }

      .main__home__text {
        width: 400px;
        color: white;   
      }

      .word span {
        font-size: 50px;
      }

      .main__homes__title__text {
        font-size: 20px;
      }
    
    
}

@media (max-width: 1191px) and (min-width: 851px) {
    .header {
        background-image: url("../assets/FullSizeRender.GIF");
        background-size: cover;
        background-position: center;
    }


    .header__background {
        display: none;
    }


    .paralax-layer {
        height: 800px;
    }

    .header__title {
        font-size: 45px;
    }

   .header__newHref {
        font-size: 24px;
    }

    .main__about__text {
        width: 50%;
        font-size: 20px;
    }

    .main__about__img {
        width: 470px;
        height: 500px;
    }

    .popup-error {
        width: 300px;
        top: 10px;
        z-index: 4;
        right: -200px;
    }

    .popup-error span::after {
        content: "...";
        color: white;
        font-size: 45px;
        position: absolute;
        left: -37px;
        bottom: -29px;
        transform: rotate(-45deg);
      }


      .main__home .uk-slider-items {
        width: 1000px;
      }

      .main__home__text {
        width: 800px;
        color: white;
      }

      .word span {
        font-size: 80px;
      }

      
      .main__homes__title__text {
        font-size: 27px;
      }
    
    
    

 
}
@media (min-width: 1192px) {
    .header__title {
        font-size: 45px;
    }

    .paralax-layer {
       margin-bottom: -30px;
    }

   .header__newHref {
        font-size: 24px;
    }

    .main__about__text {
        width: 50%;
        font-size: 20px;
    }

    .main__about__img {
        width: 470px;
        height: 500px;
    }

    .popup-error {
        width: 300px;
        top: 10px;
        z-index: 4;
        right: -200px;
    }

    .popup-error span::after {
        content: "...";
        color: white;
        font-size: 45px;
        position: absolute;
        left: -37px;
        bottom: -29px;
        transform: rotate(-45deg);
      }

      .main__home .uk-slider-items {
        width: 1000px;
      }

      .main__home__text {
        width: 800px;
        color: white;
      }

      .word span {
        font-size: 100px;
      }

      .main__homes__title__text {
        font-size: 27px;
      }
    

}

body {
    margin: 0px;
}

.main__about__appear {
    animation-name: FromBottom;
    opacity: 1;
    animation-duration: 4s;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f4a70;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.header::after {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.5;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    bottom: 0;
}

.header__background {
    width: 100%;
    position: absolute;
    z-index: 1;
    transform-origin: center center;
    top: 0;
    transform: scale(1.2);
    /* Начальный масштаб фона */
    transition: "transform" 0.3s ease-out;
    right: 0;
    left: 0;
    bottom: 0;
}

.paralax-layer {
    position: absolute;
    z-index: 5;
    width: 100%;
    bottom: -100px;
}

.header .star:nth-child(1) {
    top: 70px;
    display: none !important;
    left: 70px;
}

.header .star:nth-child(2) {
    right: 50px;
    top: 50px;
}

.header .star:nth-child(3) {
    left: 50%;
    top: 60px;
}

.header .star:nth-child(4) {
    left: 40%;
    top: 30px;
}

.header .star:nth-child(5) {
    left: 30%;
    top: 25px;
}

.header .star:nth-child(6) {
    left: 20%;
    top: 45px;
}

.header .star:nth-child(7) {
    right: 30%;
    top: 70px;
}

.header .star:nth-child(8) {
    right: 40%;
    top: 20%;
}

.header .star:nth-child(9) {
    left: 40%;
    top: 12%;
}

.header .star:nth-child(10) {
    right: 20%;
    top: 30px;
}

.header .star:nth-child(11) {
    right: 35%;
    top: 5%;
}



.star {
    position: absolute;
    z-index: 4;
    width: 7px;
    height: 7px;
    background-color: yellow;
    /* Цвет звезды */
    border-radius: 50%;
    animation: twinkle 2s linear infinite;
}

.star::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, yellow, transparent);
    /* Градиент светового луча */
    opacity: 0;
    transform: scale(1);
    animation: rays 2s linear infinite;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes rays {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}







.header__airplane-container {
    display: flex;
    position: absolute;
    top: 30px;
    animation-name: AirPlaneFly;
    animation-duration: 4s;
    left: 30px;
    z-index: 2;
}


.header__airplane-text {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-family: "Titillium", Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 40px;
    font-weight: 600;
    flex-shrink: 0;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    border-radius: 0px 30px 30px 0px;
    color: black;
}


.header__airplane {
    width: 70px;
    height: 70px;
}

.header__airplaneDisappear {
    display: none;
}





.header__logo {
    width: 200px;
    height: 150px;
    position: relative;
    transition: "transform" 0.3s ease-out;
    z-index: 4;
}

.header__logo:hover {
    transform: scale(3);
    transition: 200ms;
}



.paralaxActive {
    transform: translateY(-50%) scale(1.2) !important;
    transition: 200ms;
}

.header__title {
    position: relative;
    color: white;
    animation-name: TitleAppear;
    animation-duration: 800ms;
    font-style: italic;
    font-family: "Titillium", Arial, Helvetica, sans-serif;
    z-index: 4;
}

.header__title:hover {
    transform: scale(2);
}



.header__href{
    position: relative;
    z-index: 5;
    animation-name: FromBottom;
    animation-duration: 1s;
    margin-top: 20px;
    /* transform: translate(-50%, -50%); */
  }
  
  .header__newHref{
    display: block;
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }
  
  .header__newHref:hover{
    letter-spacing: 15px;
    text-decoration: none;
    color: white;
  }


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}



.main__about__text {
    position: relative;
    z-index: 0;
    border-radius: 5px;
    padding: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    align-self: center;
    font-family: "Titillium", Arial, Helvetica, sans-serif;
}

.main__about__text::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #BFE2FF;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#BFE2FF, #BFE2FF), linear-gradient(#337AB7, #337AB7), linear-gradient(#BFE2FF, #BFE2FF), linear-gradient(#337AB7, #337AB7);
    animation: anim-ramka-5 4s linear infinite;
}

.main__about__text::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}

@keyframes anim-ramka-5 {
    100% {
        transform: rotate(1turn);
    }
}

.main__about {
    background: #167aab;
    background: -webkit-linear-gradient(to left, #1d71e6, #0053f8);
    width: 100%;
    display: flex;
    padding-top: 40px;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    align-items: flex-end;
    position: relative;


}

.main__about__left {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 50%;
  height: 100%;
}

.main__about__right {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 50%;
  height: 100%;
}

.main__about__img-container {
    position: relative;
    z-index: 3;
}
    
  
  .popup-error {
    background-color: white;
    animation-name: FromBottom;
    animation-duration: 3s;
    color: black;
    z-index: 5;
    border-radius: 10px;
    padding: 10px;
  
    position: absolute;
    border: 3px solid white;
    font-family: "Titillium", Arial, Helvetica, sans-serif;
  }

  .popup-error a {
    font-weight: 600;
    font-size: 17px;
  }

  .popup-error a:hover::after {
    content: "\2192";
    margin-left: 3px;
    text-decoration: none;
  }
  
 



.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.main__about__go-btn {
    border: none;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    align-self: center;
    border-radius: 100%;
    margin-left: 30px;
    background-image: url("../assets/free-icon-right-arrow-271228.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.main__about__go-btn:hover {
    background-color: #0053f8;
    transition: 200ms;
}

.main__about__go-btn:hover::after {
    content: "посмотреть объекты";
    padding: 10px;
    background-color: white;
    position: absolute;
    font-size: 13px;
    border-radius: 10px;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.4), 
    0 4px 8px rgba(0, 0, 0, 0.4),
    0 6px 12px rgba(0, 0, 0, 0.4),
    0 8px 16px rgba(0, 0, 0, 0.4);

    z-index: 3;
    right: -110px;
    top: -35px;
}

@keyframes ToRight {
    0% {
        margin-right: 0px
    }

    100% {
        margin-right: -400px;
    }
}

.chat-widget__areaClose {
    animation-name: ToRight;
    animation-duration: 1s;
}


.chat-widget {
    position: fixed;
    bottom: 0;
    z-index: 10;
    right: 0;
  }
  .chat-widget__area {
    display: none;
    width: 300px;
    animation-name: FromRight;
    animation-duration: 1000ms;
    height: 300px;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.4), 
    0 4px 8px rgba(0, 0, 0, 0.4),
    0 6px 12px rgba(0, 0, 0, 0.4),
    0 8px 16px rgba(0, 0, 0, 0.4);
    border-width: 1px 0 0 1px;
    border-radius: 20px 0 0 0;
    background: #ffffff;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .chat-widget_active .chat-widget__side {
    display: none;
  }
  
  .chat-widget_active .chat-widget__area {
    display: flex;
  }
  
  .chat-widget__messages-container {
    flex-grow: 1;
    overflow-y: auto;
  }

  .chat-widget__messages {
    margin-top: 10px;
    padding: 12px;
  }

  .chat-widget__messages-title {
    font-family: "Titillium", Arial, Helvetica, sans-serif;
   display: flex;
   background-color: #1d71e6;
   padding: 12px;
   align-items: center;
   gap: 10px;
  }

  .chat-widget__messages-title__logo {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #0053f8;
  }

  .chat-widget__messages-title__bot-name-container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
  }

  .chat-widget__messages-title__bot-name-container span:nth-child(1) {
    font-weight: 600;
    font-size: 13px;
  }

  .chat-widget__messages-title__bot-name-container span:nth-child(2) {
    font-size: 13px;
  }



  @keyframes FromLeft {
    0% {
        transform: translateX(-1000px);
    }

    100% {
       transform: translateX(0px);
    }
  }
  
  .chat-widget__side {
    position: relative;
    width: 50px;
    height: 250px;
    cursor: pointer;
    animation: FromRight;
    animation-duration: 1000ms;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5); 
    background: #167aab;
    border-radius: 20px 0 0 0;
  }
  
  
  .message {
    margin-bottom: 10px;
    display: flex;
    gap: 4px;
    flex-direction: column-reverse;
    font-family: "Titillium", Arial, Helvetica, sans-serif;
    align-items: flex-start;
  }
  
  .message__time {
    display: inline-block;
    color: black;
  }
  
  .message_client {
    justify-content: flex-end;
    text-align: right;
    justify-self: flex-end;
    align-items: flex-end;
    align-self: flex-end;
  }
  
  .message__time {
    margin-right: 5px;
    font-size: 10px;
  }
  .message_client .message__time {
    order: 2;
    margin-right: 0;;
    margin-left: 5px;
  }
  .message__text {
    order: 1;
    display: inline-block;
    padding: 5px;
    background: rgb(132, 189, 227);
    color: black;
    border-radius: 7px;
  }
  
  .message_client .message__text {
    background: rgb(200, 195, 200);
    color: black;
  }
  
  .chat-widget__input {
    border: none;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
    padding: 12px;
  }
  
  .chat-widget__side-text {
    font-family: Arial;
    color: #fff;
    transform: rotate(-90deg);
    position: absolute;
    top: 100px;
    left: -100px;
    width: 250px;
    height: 50px;
    line-height: 45px;
    padding: 5px 20px;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 13px;
  }

  .chat-widget__close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url("../assets/icons8-крестик-78.png");
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .chat-widget__send-btn {
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    background-color: #1d71e6;
    border: none;
  }

  .main__homes {
    display: flex;
    background: linear-gradient(-45deg, #ece8e7, #2671c6, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE10+ */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;  /* Firefox */
  }

  .main__homes__scroller {
      display: flex;
      scroll-snap-align: start;
  }

  .main__homes::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main__homes__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}


.main__homes__title__text {
    color: white;
    display: flex;
    margin-top: 40px;
    font-family: "Titillium", Arial, Helvetica, sans-serif;
}


  .word {
    font-family: "Titillium", Arial, Helvetica, sans-serif;
    perspective: 1000px; 
    color: white;
  }
  
  .word span {
    cursor: pointer;
    display: inline-block;
    user-select: none;
  }
  
  .word span:nth-child(1).active {
    animation: balance 1.5s ease-out;
    transform-origin: bottom left;
  }
  
  @keyframes balance {
    0%, 100% {
      transform: rotate(0deg);
    }
    
    30%, 60% {
      transform: rotate(-45deg);
    }
  }
  
  .word span:nth-child(2).active {
    animation: shrinkjump 1s ease-in-out;
    transform-origin: bottom center;
  }
  
  @keyframes shrinkjump {
    10%, 35% {
      transform: scale(2, .2) translate(0, 0);
    }
    
    45%, 50% {
      transform: scale(1) translate(0, -150px);
    }
    
    80% {
      transform: scale(1) translate(0, 0);
    }
  }
  
  .word span:nth-child(3).active {
    animation: falling 2s ease-out;
    transform-origin: bottom center;
  }
  
  @keyframes falling {
    12% {
      transform: rotateX(240deg);
    }
    
    24% {
      transform: rotateX(150deg);
    }
    
    36% {
      transform: rotateX(200deg);
    }
    
    48% {
      transform: rotateX(175deg);
    }
    
    60%, 85% {
      transform: rotateX(180deg);
    }
    
    100% {
      transform: rotateX(0deg);
    }
  }
  
  .word span:nth-child(4).active {
    animation: rotate 1s ease-out;
  }
  

  @keyframes rotate {
    20%, 80% {
      transform: rotateY(180deg);
    }
    
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .word span:nth-child(5).active {
    animation: toplong 1.5s linear;
  }

  .word span:nth-child(6).active {
    animation: rotate 1s ease-out;
  }

  
  .word span:nth-child(7).active {
    animation: toplong 1s ease-out;
  }
  
  
  @keyframes toplong {
    10%, 40% {
      transform: translateY(-48vh) scaleY(1);
    }
    
    90% {
      transform: translateY(-48vh) scaleY(4);
    }
  }

  .main__home {
    display: flex;
    flex-shrink: 0;
    align-self: center;
    margin-top: 20px;
    width: 100%;
    scroll-snap-stop: always;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 
  .main__home .uk-cover-container {
    cursor: zoom-in;
  }

  .main__home__price {
    color: black;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
  }

  .main__botique {
    height: 100vh;
    position: relative;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #167aab;
    width: 100%;
    padding: 0px 40px 0px 40px;
    box-sizing: border-box;
    gap: 20px;
  }

  .main__botique__title {
    position: relative;
    text-transform: uppercase;
    color: black;
    margin-top: 20px;
    font-family: "Titillium", Arial, Helvetica, sans-serif;
    font-size: 35px;
    display: flex;
    align-items: center;
    font-weight: 600;
    z-index: 5;
  }

  .main__botique__title__logo {
    font-weight: 800;
    display: flex;
    color: black;
    margin-left: 15px;
    align-items: flex-start;
    font-size: 45px;
  }

  .main__botique__title__logo:hover {
    text-decoration: none;
  }

  .main__botique__title__logo::after {
    content: "";
    display: inline-block;
    width: 45px;
    height: 56px;
    margin-left: 10px;
    background-image: url("../assets/logoBot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bg-wrap {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 4;
    left: 0 !important;
    bottom: 0 !important;
  }

  .main__botique__text {
    backdrop-filter: blur(100px);
    font-family: "Titillium", Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: black;
    font-style: italic;
    font-weight: 600;
    position: relative;
    z-index: 5;
  }

  .main__botique__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    position: relative;
    justify-self: flex-end;
    cursor: pointer;
    height: 500px;
    padding: 30px;
    width: 600px;
    align-self: center;
    color: black;
    margin-bottom: -100px;
    z-index: 5;
    border: 1px solid #000000;
   backdrop-filter: blur(100px);
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    animation: anim-ramka-1 10s infinite;
    font-family: 'Roboto', sans-serif; 
}
@keyframes anim-ramka-1 {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    }
    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
    }
    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}

.main__botique__phone img {
  width: 300px;
  margin-bottom: -70px;
  height: 400px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
  background-color: #4c79d4;
  gap: 20px;
  color: white;
  font-family: "Titillium", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.footer a {
  font-size: 22px;
  font-style: italic;
  color: white;
  font-weight: 600;
}

.footer a:hover {
  color: purple;
  transition: 200ms;
}


.footer__hrefs {
  display: flex;
  gap: 10px;
}

.footer__hrefs a:nth-child(1) {
  border-radius: 100%;
  background-image: url("../assets/whatsapp.png");
  background-position: center;
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.footer__hrefs a:nth-child(2) {
  border-radius: 100%;
  background-image: url("../assets/icons8-telegram-48.png");
  background-position: center;
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}
 






